* {
    background-color: black;
    background-image: none;
    border: none;
    color: white;
    font-family: Verdana;
}

scrolledwindow trough * {
    background-color: gray;
}

scrolledwindow trough {
    background-color: white;
}

progressbar trough * {
    background-color: blue;
}

progressbar trough {
    background-color: white;
}

GtkProgressBar * {
    background-color: blue;
}

GtkProgressBar {
    background-color: white;
}

/* The bottom text is automatically sized based on the resolution of
 * the presenter's screen but setting this value in the user's custom
 * CSS will override the auto-sizing.  See the man page for more
 * details.
    .bottomText {
        font-size: 5em;
    }
 */

pdfpcTimerLabel.pretalk {
    color: green;
}

pdfpcTimerLabel.last-minutes {
    color: orange;
}

pdfpcTimerLabel.overtime {
    color: red;
}

